<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
 		
						
<!--	mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>

	<!-- null 조회 시 setter로 binding 안하고 무시 -->
	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	
	<typeAliases>
		<typeAlias alias="user" type="com.example.demo.domain.User" />
	</typeAliases>
	
	<mappers>
		<mapper resource="sql/UserMapper.xml" />
	</mappers>
</configuration> 		